body{
	margin: 0;
	background: #f4f5f7;
}
ul{
	margin: 0;
	padding-inline-start: 0;
}
li{
	list-style: none;
	display: inline;	
}
a{
	text-decoration: none;
}
.mar_b20{
	margin-bottom: 20px;
}
/*.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}*/

/*head nav*/
.head{
	position: fixed;
	background: #ffffff;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
}
.headtop{
	background: #666666;
	top: 0px;
	

	height: 24px;
}
.headtop li{
	line-height: 24px;
	color: #ffffff;
	margin: 0 10px;
	font-size: 12px;
}
.headtop .amynav{
	font-size: 12px;	
	}
.headtop li span{
	margin-right: 5px;
}
.headtop_content{
	width: 1200px;
	margin: 0 auto;
		
}
.headtop_content ul{
	float: right;
}
.headtop_content img{
	height: 24px;
	margin-top: 3px;
}	
.headnav{
	clear: both;
	background: #FFFFFF;	
	width: 100%;
	height: 52px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}
.head_content{
	width: 1200px;
	margin: 0 auto;
}
.headnav .headnav_content{
	float: right;
	height: 52px;
    margin: 0;
}
.headnav img{
	float: left;
	
	height: 28px;
	margin-top: 12px;
}
.headnav .headnav_content nav{	
    
}
.headnav .headnav_content nav a{
	line-height: 52px;
	font-size: 14px;
	margin: 0 8px;
	color: #68738a;
}
.headnav .headnav_content nav a:hover{
	color: #498dff;
}


/*search*/
#search{
	float: right;
	
}
.searchinput{	
	border: 1px solid #498dff;
    padding: 0;
    padding-left: 5px;
    width: 300px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    font-family: Arial;
    color: #68738a;
    margin: 9px 0 0 40px;
    outline: 0;
    background: #fff;
}

.btnsearch{	
    height: 0;
    line-height: 30px;
    margin-top: 0;
    margin-left: -30px;
    font-size: 12px;
    cursor: pointer;
    border: 0 none;
    outline: 0;
    padding: 0;
    box-shadow: none;
    color: #68738a;    
}
}

.content_main{
	width: 1200px;
	margin: 20px auto;
}
.lei_title{
	padding: 0 15px;
}
.lei_title p{
	padding: 10px 0;
	color: #498DFF;
	font-size: 14px;
	margin-block-start: 0;
    margin-block-end: 0;
    border-bottom: 1px dotted #b0bdd2;
    margin-bottom: 15px;
}
.lei_title p span{
	margin-right: 5px;
}
.content_left{
	width: 300px;
	padding-right: 5px;	
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
	position: fixed;
	z-index: 100;
}
.content_left .looklist{
	overflow: auto;
	height: 680px;
	padding-bottom: 15px;
}
.content_left .looklist::-webkit-scrollbar {/*滚动条整体样式*/
        width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
        
}
.content_left .looklist::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #d5e5ff;
}
.content_left .looklist::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #f0f7fb;
}
.content_left .looklist ul{
	margin-left: 25px;
	margin-right: 10px;
}
.content_left .looklist li a{
	font-size:12px;
	color: #68738A;
}
.content_left .looklist li a span{
	font-weight: 500;
	color: #498dff;
	margin-right: 5px;
}
.content_left .looklist li a:hover{
	color: #498dff;
}
.content_left .looklist li p{
	font-size:12px;
	color: #68738A;
	margin: 5px 0 15px 0;
}
.content_left .looklist li p span{
	padding: 0px 5px;
	margin-right: 8px;
	border-radius: 3px;
	/*background: #e8f8ff;*/
	border: 1px solid #498DFF;
}

.content_right{
	float: right;
	width: 1200px;
}
.content_right .tuijian{
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}
.navlist li{
	padding: 0 10px;
	width: 197px;
	height: 72px;
	display: inline-block;
	border-radius: 4px;
    background: rgba(244, 245, 247,0.5);
    margin: 0 0px 20px 15px;    
}
.navlist ul li:hover{
	background: rgba(244, 245, 247,1);
}
.navlist ul li:hover p{
	color: #498DFF;
}
.navlist li .icon{
	float: left;
	width: 40px;
	height: 40px;
	margin-top: 16px;
}
.navlist	 li p{
	width: 150px;
	margin-left: 50px;
	line-height: 22px;
	font-size: 14px;
	color: #3a445a;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navlist	 li p span{
	font-size: 12px;
	color: #68738a;	
}